<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>White-Gold Labs</title>
        
        <script src="/angular/angular.js"></script>
        <script src="/jquery/jquery.js"></script>
        
        <script src="/controllers/test.controller.js"></script>
        <script src="/controllers/app.js"></script>
    </head>
    <body>
        <div ng-controller="TestController as Test">
            {{Test.test}}
        </div>
    </body>
</html>
